{
  "oauth": {
    "clientId": "ID-HERE",
    "clientSecret": "SECRET-HERE",
    "redirectUri": "URI-HERE"
  },
  "encryption": {
    "key": "d1a8cd4515c66cbd888a9820b48482f1937ceca98efcff1a824989dabcd673fc",
    "iv": "4f7a629a1134ecf1ad471306b0bfe8c2"
  },
  "userList": []
}