.DS_Store
node_modules
/build
dist/
.svelte-kit/
/package
.env
.env.*
!.env.json.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.db
migrations/
shared/tsconfig.tsbuildinfo
.idea/
.vscode/